$theme-color: #D6D6D6 !important;
$text-color: #101534 !important;
$standout-color: #df1b45 !important;
$b-color: #805c00 !important;

$theme-color_normal: #d6d6d6;
$text-color_normal: #101534;
$standout-color_normal: #df1b45;
$b-color_normal: #805c00;

a{
    color: $standout-color_normal;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: transparent; //Hides border under
    transition: 1s;
}

nav a{
    color: $standout-color;
}

a:hover{
    color: $b-color;
    border-color: $b-color;
}

body{
    background-color: $theme-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', sans-serif;
}

.thin_container{
    padding: 20px;
    font-family: 'Roboto' ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: $b-color;
    overflow: hidden;
}
::-webkit-scrollbar-thumb {
    background-color: $text-color;
    border-radius: 2px;
 
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

.topNavbar{
    background-color: $text-color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.navbar{
    padding-top: 10px;
    padding: 20px;
}

.break{
    margin-top: 20px;
    margin-bottom: 0;
    height: 20px;
    width: 100vw;
    background: $standout-color_normal;
    background: linear-gradient(90deg, $standout-color_normal 0%, #1f2660 50%, #805c009a 100%);
}

.nav-item .nav-link{
    display: inline-block;
    transition: 1s;
    margin-top: 10px;
    margin-bottom: 20px;

}

.nav-item .nav-link:hover{
    color: #805c00;
    padding-bottom: 5px;
    box-shadow: 0px 1px 0px 0px #805c00;
}

.form-control{
    background-color: $theme-color;
    color: $text-color;
    border-color: $b-color;
}
.form-control::placeholder{
    color: $b-color;
    font-size: 15px;
}
.form-control:focus{
    box-shadow: 3px 3px 0px 0px $b-color;
}

.btn{
    background-color: $b-color;
    border-color: $b-color;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 1s;
}

.content{
    padding-left: 15px;
}

#button_group {
    padding-bottom: 10px;
    font-size: 20px;
}

#drill_name {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

#single_drill {
    border-style: solid;
    border-radius: 10px;
    border-color: $b-color;
    border-width: 1px;
    transition: 1s;
    margin-bottom: 5px;
}

#single_drill:hover {
    background: #1f256074;
}

.drill_title{
    color: $standout-color;
    font-weight: 600;
}

.table, .month{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: $b-color;
    font-size: 22px;
    background-color: $theme-color;
    color: $text-color;
}

.mon, .tue, .wed, .thu, .fri, .sat, .sun, .noday{
    padding: 50px 50px;
    background-color: $theme-color;
    color: $text-color;
    transition: 1s;
}


.mon:hover, .tue:hover, .wed:hover, .thu:hover, .fri:hover, .sat:hover, .sun:hover{
    background-color: rgba(0, 0, 0, 0.359) !important;
}

.changes_page{
    text-decoration: none;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $standout-color;
    transition: 1s;
    font-weight: 700;
}

.btn_group{
    background-color: $text-color;
    border-color: $b-color;
    transition: 1s;
}

.btn_group:hover{
    background-color: $standout-color;
    border-color: $standout-color;
}

.single_btn:hover{
    background-color: $text-color;
    border-color: $b-color;
}

.cal{
    font-family: 'Roboto Slab';
    color: $text-color_normal;
}

.training{
    border-radius: 5px;
    background-color: rgba(255, 94, 0, 0.134);
    a{
        border: none;
        color: $text-color;
        transition: 1s;
    }

}



.match{
    border-radius: 5px;
    background-color:  rgba(0, 255, 140, 0.284);
    a{
        border: none;
        color: $text-color;
    }

}

.recovery{
    border-radius: 5px;
    background-color: rgba(89, 0, 255, 0.134);
    a{
        border: none;
        color: $text-color;
    }

}

.hideScroll::-webkit-scrollbar{
    display: none;
}

.img-thumbnail{
    background-color: transparent;
    border: none;
}

.img{
    display: flex;
}

.img {
    .crest, .emblem, .flag{
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
    }

    .flag{
        max-height: 100px;
        max-width: 150px;
    }


}


.score{
    font-weight: 600;
}

.penScore{
    font-weight: 400;
}

.matchInfoHeader{
    font-weight: 400;
    color: $b-color;
}

.emblem{
    transition: 1s;
}


.emblem:hover{
    background-color: rgba(255, 255, 255, 0.353);
    
}


.crest{
    max-width: 180px;
}


.crest_placeholder{
    margin-right: 3vw;
}

.team_name{
    font-family: 'Roboto Slab';
    font-size: 22px;
    color: $text-color;
    margin-top: 10px;
    font-weight: 500;
    max-width: 120px;
}

.comp_emblem{
    max-width: 137px;
}

.stage{
    font-family: 'Roboto Slab';
    justify-content: center;
    text-align: center;
    font-size: 22px;
    color: $text-color;
    margin-top: 10px;
    font-weight: 500;
    max-width: 150px;
}

.body-fade-in {
    animation-name: fadeInAnimation;
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: $theme-color;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menuControlButton{
    background-color: transparent;
    border: none;
    display: none;
}

@media (max-width: 1000px){

    .comp_emblem{
        max-width: 120px;
    }

    .matchInfoHeader{
        font-size: 24px;
    }

    .menuButton{
        display: block;
    }

    .navbar-for-big-screen{
        display: none;
    }
    .img {

        .flag{
            max-height: 90px;
            max-width: 135px;
        }

    }

}




@media (max-width: 650px){



    .matchInfoHeader{
        min-width: 110px;
        font-size: 20px;
    }

    .img {
        .crest, .emblem{
            width: 100%;
            height: 110px;
            border-radius: 10px;
        }

        .flag{
            max-height: 90px;
            max-width: 135px;
            width: 225px;
        }

    }
    .crest, .team_name{
        max-width: 14vh;
        
    }
    .team_name{
        max-height: 15px;
        margin-top: 15px;
    }
    .crest_placeholder{
        margin-right: 5vw;
    }
}
@media (max-width: 550px) {

    .matchInfoHeader{
        font-size: 18px;
    }

    .img {
        .crest, .emblem{
            min-width: 90px;
            height: 105px;
        }

        .flag{
            max-height: 80px;
            max-width: 120px;
            width: 180px;
        }
    }
    .crest, .team_name{
        max-width: 12vh;
        
    }
    .crest_placeholder{
        margin-right: 5vw;
    }
}

.menu{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 50%;
    background: $standout-color_normal;
    background: linear-gradient(to bottom right, $standout-color_normal 0%, #1f2660 40%);
    clip-path: circle(0% at 94% 7%);
    transition: clip-path 1s;
    color: white;
  }
  
.menu.open{
    clip-path: circle(100%);
}

.menuNavbar{
    margin-top: 20%;
    margin-left: 20px;
}

.menuNavbar li a{
    color: $theme-color;
}

@keyframes delete_drill {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
        height: 210px;

    }

    100%{
        opacity: 0;
        padding: 0;
        border: none;
        height: 0px;
    }
}
@keyframes remove_message {
    0%{
        opacity: 1;
        height: 70px;
    }

    50%{
        opacity: 0;
        height: 70px;

    }

    100%{
        opacity: 0;
        height: 0px;
        border: none;
        padding: 0;
    }
}
.single_drill{
    animation-name: delete_drill;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-duration: 2s;
}


.message_container{
    border-style: solid;
    border-color: rgb(199, 0, 0);
    background-color: rgba(255, 0, 0, 0.373);
    padding: 10px;
    height: 70px;
    border-radius: 10px;
    animation-name: remove_message;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-duration: 2s;
}

.background_color{
    color: $theme-color;
}

#current_day{
    background-color: $standout-color;
    color: $theme-color;
    a{
        color: $theme-color;
    }
    transition: 1s;
}

#current_day:hover{
    background-color: rgba(255, 0, 0, 0) !important;
    color: $text-color;
    a{
        color: $text-color;
    }
}